In [18]:
import pandas as pd

In [19]:
pred = pd.read_csv('../result/result.csv')

pred

     4
0    4
1    4
2    4
3    6
4    4
..  ..
344  4
345  4
346  4
347  6
348  4

[349 rows x 1 columns]

In [16]:
pred.value_counts()

0
4    212
6     94
3     27
1      7
0      6
2      2
5      2
Name: count, dtype: int64

In [17]:
len(pred)

350